.product-card {
  display: flex;
  background-color: $secondary;
  border-radius: 2px;
  height: 200px;

  &__image {
    display: flex;
    align-items: center;
    img {
      width: 15rem;
      object-fit: contain;
    }
  }

  &__description {
    padding-top: 2rem;

    &--price {
      font-weight: bold;
      margin-bottom: 1rem;
    }
  }

  &__location {
    display: flex;
    flex: 3;
    justify-content: center;
    padding-top: 3rem;
  }
}
