.search-box {
  display: flex;
  gap: 1rem;
  background-color: $primary;
  padding: 0 5rem 0 5rem;
  height: 3rem;

  @media screen and (max-width: $mobile) {
    padding: 0 1rem 0 1rem;
  }

  &__logo {
  }

  &__form {
    display: flex;
    width: 100%;
    align-self: center;

    &__icon {
      border: none;
      height: 2rem;
      width: 2rem;
      padding: 10px;
      background: $light-grey;
      background-image: url('../../assets/lens.png');
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      color: white;
      text-align: center;
      outline-color: $light-grey;
    }
  }
}
